@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #050608; /* Midnight Black from screenshot */
  color: white;
  -webkit-font-smoothing: antialiased;
}

/* Glassmorphism scrollbar (Optional but looks pro) */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #050608;
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}